/* header 시작 */
header {
  width: 100%;
  position: relative;
}
header .header_inner {
  width: 1380px;
  height: 80px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_inner .headerL {display: flex;}
.header_inner .headerL h1 {
  background: url(../img/logo.png)no-repeat 0 0;
  width: 110px;
  height: 20px;
  text-indent: -9999px;
}
.headerL ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerL ul a {transition: 0.3s;}
.headerL ul a:hover {color: #e21244;}
.headerL h1 {padding-right: 70px;}
.headerL ul li {
  padding-right: 25px;
  font-size: 20px;
  font-weight: 600;
}
.headerR {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 276px;
}

/* searchBtn start */
.searchBtn {
  /* position: relative; */
  width: 180px;
  height: 30px;
  border: 1px solid #e21244;
  border-radius: 50px;
  cursor: pointer;
}
.searchBtn input {display: none;}
.searchBtn .searchPop {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.searchBtn input + label + div{
  display: none;
  width: 100%;
  height: 6500px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.searchBtn input:checked + label + div {
  display: block;
}
.searchBtn input + label + div label {
  position: absolute;
  top: 78px;
  right: 250px;
  background: #fff;
  text-indent: 9999rem;
  cursor: pointer;
}
.search_slide {
  position: relative;
}
.search_wrap {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 150px 190px;
  position: relative;
}
.search_wrap h2 {
  font-size: 42pt;
  font-weight: 300;
  margin-left: -3px;
  color: #e20d48;
  text-align: start;
}
.search_info {
  font-size: 18px;
  color: #e20d48;
  padding-top: 25px;
}
/* search slide img start */
.search_slide {
  width: 100%;
  height: 314px;
  border: 1px solid #000;
}
.searchImg_wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 800px;
  height: 314px;
  border: 1px solid #000;
}
.searchImg {
  width: 2000px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.searchImg li {
  margin-right: 25px;
}
.searchImg img {
  width: 250px;
  height: 250px;
}
.prevBtn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.nextBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* search sldie img end */
/* searchBtn end */
/* loginMenu start */
.loginMenu {position: relative;}
.loginMenu_sub {
  position: absolute;
  width: 110px;
  top: 50px;
  left: -65px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: #e21244;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  z-index: 1;
}
.loginMenu ul li a {
  line-height: 2.5em;
  color: #fff;
  font-size: 16px;
}
.loginMenu .loginMenu_sub:after {
  content: '';
  position: absolute;
  background-color: #e21244;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateX(-50%);
  top: 0;
  left: 50%;
}
.loginMenu:hover .loginMenu_sub {
  display: block;
  opacity: 1;
  visibility: visible;
}
/* loginMenu end */
.cart {position: relative;}
.cartCount {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: #fff;
  background-color: #e21244;
  border: 1px solid #fff;
}