/* section01 start */
.section01 {
  width: 100%;
  position: relative;
}
.video_box {
  height: 100vh;
}
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.section01 .text_wrap {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
}
.section01 .text_wrap h2 {
  font-size: 3vw;
}
.section01 .text_wrap p {
  font-size: 1vw;
  color: rgb(228, 228, 228);
  margin-top: 2%;
}
.section01 .text_wrap a {
  display: inline-block;
  position: absolute;
  font-size: 2vw;
  color: #fff;
  animation: 1s linear infinite alternate updown;
}
@keyframes updown {
  100% {
    transform: translateY(20px);
  }
}
/* section01 end */

/* section03 start */
.section03 {
  position: relative;
  background-color: rgb(22, 22, 22);
}
/* section03_swiper start*/
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.swiper-slide div {
  position: absolute;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
}
.slide01 h3 {font-size: 3vw;}
.slide01 h4 {font-size: 1.8vw;}
.slide02,
.slide03,
.slide04,
.slide05 {
  text-align: center;
  line-height: 1.3vw;
}
.slide02 {
  right: 10%;
}
.slide02 h3,
.slide04 h3 {
  font-size: 1.8vw;
  margin-bottom: 8%;
}
.slide04 {
  left: 10%;
}
.slide05 h3 {
  font-size: 1.5vw;
  line-height: 2.5vw;
  margin-bottom: 5%;
}
.swiper-button-next, .swiper-button-prev {
  top: 50%;
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  color: rgba(161, 161, 161, 0.5);
}
.swiper-button-next {right: 3%;}
.swiper-button-prev {left: 3%;}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 5%;
}
.swiper-pagination-bullet {
  bottom: 5%;
  background: #fff;
}
.explain {
  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: 999;
  color: #cfcfce;
}
.explain h2 {
  font-weight: normal;
  font-size: 2vw;
  margin-bottom: 10%;
  position: relative;
}
.explain h2:after {
  position: absolute;
  bottom: -15%;
  left: 0;
  content: '';
  width: 40%;
  height: 2%;
  background-color: #fff;
}
.explain a {
  padding: 1.5% 8%;
  font-size: 1vw;
  color: #a1a1a1;
  border: 1px solid #a1a1a1;
  border-radius: 30px;
  transition: 0.5s;
}
.explain a:hover {
  background-color: #00000061;
  color: #dfdfdf;
  border: 1px solid #00000061;
}
/* section03_swiper end*/
/* section03 end */
/* section04 start */
  .section04 {
    width: 100%;
    height: 100vh;
    background-color: #111318;
    color: rgb(55, 55, 55);
    position: relative;
  }
  .section04 h2 {
    float: right;
    margin: 8%;
    box-sizing: border-box;
    font-size: 3.5vw;
    font-weight: normal;
    color: #a1a1a1;
    position: relative;
  }
  .section04 h2:after {
    position: absolute;
    bottom: -20%;
    right: 0%;
    content: '';
    width: 80%;
    height: 1px;
    background-color: #fff;
  }
  .section04 ul{
    float: left;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 60%;
  }
  .section04 li {
    position: relative;
    float: left;
    margin: 2%;
  }
  .section04 .last_li {
    width: 500px;
    height: 270px;
    background-color: rgba(0,0,0,0.3);
    transition: 1s;
    position: relative;
  }
  .section04 li a {transition: .5s;}
  .section04 li:hover a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .section04 img {
    top: 0;
    left: 0;
    width: 500px;
    height: 270px;
  }
  .section04 li h3 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5%;
    color: #fff;
    font-size: 1.5vw;
    z-index: 10;
  }
  .section04 li:last-child h3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section04 li p {
    display: none;
    position: absolute;
    top: 30%;
    padding: 5%;
    box-sizing: border-box;
    color: rgb(202, 202, 202);
    font-size: 0.8vw;
    line-height: 1.5vw;
    z-index: 11;
  }
  .section04 li:hover p {display: block;}
  .section04 .link {
    position: absolute;
    bottom: 0;
    left: 0;
  }
/* section04 end */
.section05 {
  width: 100%;
  height: 100vh;
  position: relative;
}
.section05 div {
  position: absolute;
}