@charset "utf-8";
.section1 {width: 100%;}
.section1 .inner {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 280px;
}
.item h3{
  font-size: 42px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item1 h3{color: #ff143c;}
.item2 h3 {color: #1382ff;}
.item3 h3 {color: #000;}
.circle {
  display: inline-block;
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  margin-left: 10px;
}
.item p {
  font-size: 16px;
  margin-top: 17px;
  color: #888;
}