.section3 {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
.section3 .inner {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.section3Item {
  width: 300px;
  height: 300px;
  margin: 0px 15px;
  position: relative;
}
.section3Item img {
  width: 300px;
  height: 300px;
  border-radius: 15px 15px 0 0;
}
.section3Item .front,
.section3Item .back {
  position: absolute;
  transition: .5s;
  bottom:0;
}
.section3Item .front {
  z-index: 1;
  border-radius: 15px 15px 0;
}
.section3Item .back {
  width: 298px;
  height: 130px;
  border-radius: 0 0 15px 15px;
  border: 1px solid #ddd;
  text-align: center;
  justify-content: center;
  align-items: end;
}
.section3Item:hover .front {
  bottom: 65px;
}
.section3Item:hover .back {
  bottom: -65px;
}
.section3Item .back h3 {
  font-size: 16px;
  margin: 30px 0 10px 0;
}
.section3Item .back a {
  display: inline-block;
  background: #e21244;
  color: #fff;
  padding: 5px 20px;
  border-radius: 35px;
  margin-top: 20px;
}

.tab-inner {
  /* border: 1px solid red; */
  width: 651px;
  height: 250px;
}
input[name=tabmenu] {
  display: none;
}
