.inner {
  width: 1200px;
  margin: 0 auto;
}
h2 {
  font-size: 35px;
  line-height: 1.8em;
  font-weight: normal;
  margin-bottom: 5px;
}
.explain {
  text-align: center;
  color: #999;
}
.imgWrap {
  display: inline-block;
  position: relative;
  width: 280px;
  height: 320px;
  overflow: hidden;
}
.imgWrap img{
  width: 280px;
  height: 320px;
  object-fit: cover;
}
.goodsImg {
  width: 300px;
  height: 320px;
  object-fit: none;
  transition: all 0.3s ease-in-out;
}
.goodsImg:hover  {
  transform: scale(1.05)
}
.name {
  font-size: 17px;
  line-height: 1.5em;
  padding: 5px 0;
}
.discount {
  font-size: 13px;
  padding-right: 150px;
  color: #999;
}
.price {
  font-size: 22px;
}
.percent {
  margin-right: 10px;
  color: rgb(128, 195, 66);
  font-weight: bold;
}
.tag {
  display: inline-block;
  font-size: 12px;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: 15px;
  color: #5f0080;
}
.cartPlus {
  background: url(../img/btnCartList.png) no-repeat 0 0;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 55px;
  right: 0;
  border: none;
  display: inline-block;
  text-indent: -9999px;
}
.cartPlus:hover{
  background: url(../img/btnCartList.png) no-repeat 0, 30px;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.cartPlus:active {
  background: url(../img/btnCartList.png) no-repeat 0, 60px;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.moreLink {
  display: inline-block;
  padding: 8px 50px;
  margin-top: 30px;
  border: 1px solid #ddd;
  background-color: #fff;
}