.section02 {
  padding: 50px 0;
}
.section02 .inner {
  width: 1200px;
  height: 882px;
  margin: 0 auto;
}
.section02 .inner .festa{text-align: center;}
.section02 .inner h2 {
  font-size: 35px;
  line-height: 1.8em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 5px;
}
.section02 .inner .explain {
  text-align: center;
  color: #999;
}
.section02 .slider_wrap {
  margin-top: 45px;
}
input[name=slide] {
  display: none;
}
.slide {
  position: relative;
  width: 1200px;
  height: 550px;
  overflow: hidden;
}
.slider_inner {
  position: absolute;
  width: 3600px;
  top: 0;
  left: 0;
  transition: .5s;
  display: flex;
}
.slider_inner .slideImg {
  position: relative;
  margin-right: 5px;
}
.goods {
  width: 280px;
  height: 470px;
  margin-right: 21px;
  position: relative;
}
.slider_inner a:nth-child(3),
.slider_inner a:nth-child(6),
.slider_inner a:nth-child(9) {
}
input[id=slide_1]:checked ~ .slide .slider_inner {
  left: 0;
}
input[id=slide_2]:checked ~ .slide .slider_inner {
  left: -1200px;
}
input[id=slide_3]:checked ~ .slide .slider_inner {
  left: -2400px;
}
.goods .state {
  position: absolute;
  top: 0px;
  right: 15px;
  width: 70px;
  height: 85px;
  text-align: center;
  line-height: 85px;
  background-color: #5f0080;
  color: #fff;
  letter-spacing: 2px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-80px);
  opacity: 0;
  transition: .5s;
}
.imgWrap:hover .state{
  position: absolute;
  transform: translateY(0);
  opacity: 1;
}