.section02 {
  padding: 50px 0;
}
.section02 .inner {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}
.section02 .slider_wrap {
  margin-top: 45px;
}
input[name=slide1] {
  display: none;
}
.slide {
  position: relative;
  width: 1200px;
  height: 520px;
  overflow: hidden;
}
.slider_inner {
  position: absolute;
  width: 3600px;
  top: 0;
  left: 0;
  transition: .5s;
  display: flex;
}
.slider_inner .slideImg {
  position: relative;
  margin-right: 5px;
}
.goods {
  width: 280px;
  height: 470px;
  margin-right: 21px;
  position: relative;
}
input[id=slide1_1]:checked ~ .slide .slider_inner {left: 0;}
input[id=slide1_2]:checked ~ .slide .slider_inner {left: -1200px;}
input[id=slide1_3]:checked ~ .slide .slider_inner {left: -2400px;}
input[id=slide1_1]:checked ~ .slideBtn label[for=slide1_1],
input[id=slide1_2]:checked ~ .slideBtn label[for=slide1_2],
input[id=slide1_3]:checked ~ .slideBtn label[for=slide1_3]{
  width: 40px;
  height: 15px;
  border-radius: 30px;
  background: #60008075;
}
.slideBtn {
  width: 120px;
  margin: 0 auto;
}
.slideBtn label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  /* border: 3px solid #60008075; */
  background: #cacaca;
  text-indent: -9999px;
}
.goods .state {
  position: absolute;
  top: 0px;
  right: 15px;
  width: 70px;
  height: 85px;
  text-align: center;
  line-height: 85px;
  background-color: #5f0080;
  color: #fff;
  letter-spacing: 2px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-80px);
  opacity: 0;
  transition: .5s;
}
.imgWrap:hover .state{
  position: absolute;
  transform: translateY(0);
  opacity: 1;
}