.section02 {
  padding: 80px 0;
}
.section02 .inner {
  width: 1200px;
  height: 882px;
  margin: 0 auto;
}
.section02 h2 {
  font-size: 32px;
}
.section02 .inner ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 60px 0;
}
/* .goods {
  width: 288px;
  position: relative;
  overflow: hidden;
} */
.imgWrap {
  display: inline-block;
  position: relative;
  width: 288px;
  height: 288px;
  overflow: hidden;
}
.goods .goodsImg {
  width: 288px;
  height: 288px;
  object-fit: none;
  transition: all 0.3s ease-in-out;
}
.goods .goodsImg:hover  {
  transform: scale(1.06)
}
.goods div {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #76bd42;
  color: #fff;
}
.goods h3 {
  font-size: 17px;
  line-height: 3em;
}
.goods .price {
  font-size: 22px;
  margin-top: 20px;
  padding-right: 150px;
  font-weight: bold;
}
