.inner {
  width: 1200px;
  margin: 0 auto;
}
.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}
.headerTop .headerL {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerL .delivery .deliveryBtn {margin-left: 15px;}
.headerL .delivery .deliveryPop {
  position: relative;
  width: 500px;
  height: 560px;
  padding: 50px 30px;
  background: #fff;
  z-index: 999;
  display: none;
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.deliveryPop h2 {
  text-align: center;
  font-weight: normal;
}
table {
  width: 100%;
  margin: 25px 0 10px 0;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #5f0080;
}
th {
  text-align: center;
  padding: 10px;
  border-spacing: 0px;
  background-color: #5f0080;
  color: #fff;
}
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #e5e5e5;
  color: #5f0080;
}
td:last-child {
  color: #222;
}
.delivery span {
  font-size: 13px;
  color: #666;
}
.delivery p {
  font-size: 11px;
  line-height: 2em;
}
.deliveryBtn .purple {
  color: #5f0080;
  font-weight: bold;
}
.deliverySelect {
  margin: 0 auto;
  width: 212px;
  padding-top: 30px;
}
.deli {
  display: inline-block;
  width: 100px;
  text-align: center;
}
.deliverySelect .deliveryNo {
  height: 32px;
  border: 1px solid #bbb;
  margin-right: 5px;
  line-height: 33px;
}
.deliverySelect .deliveryYes{
  height: 35px;
  background: #5f0080;
  color: #fff;
  line-height: 36px;
}
.headerTop .headerR {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  font-size: 15px;
}
.headerR > a {
  font-size: 13px;
}
.gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.gnb > ul {
  display: flex;
  align-items: center;
  justify-content: start;
}
.gnb > ul > li {
  padding: 0 15px;
  font-size: 17px;
  font-weight: bold;
}
.gnb li .circle {
  position: relative;
}
.gnb li .circle:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #5f0080;
}
.information,
.participate,
.more {
  position: relative;
}
.information_sub{
  padding: 15px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  top: 50px;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.participate_sub,
.more_sub {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 10px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}
.information_sub li a,
.participate_sub li a,
.more_sub li a {
  line-height: 2rem;
  font-size: 15px;
  color: #666;
}
.information_sub li a:hover,
.participate_sub li a:hover,
.more_sub li a:hover {
  color: #000;
  text-decoration: underline;
}
.gnb > ul .allMenu {padding-left: 0;}
.allMenu i {
  margin-right: 15px;
  font-size: 25px;
  color: #5f0080;
}
.gnbR {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gnbR form {position: relative;}
.gnbR .input_val {
  width: 295px;
  height: 40px;
  padding-left: 15px;
  border-radius: 30px;
  background: #f7f7f7;
  border: none;
  outline: none;
}
.gnbR .input_val:focus {
  height: 38px;
  border: 2px solid #5f0080;
  background-color: #fff;
}
.gnb .input_val:focus::placeholder {
  visibility: hidden;
}
.gnbR input[type=submit] {
  background: url(../img/btnSearch.png) no-repeat 0 0;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border: none;
  text-indent: -9999px;
}
.gnbR .input_val:checked .search{
  border: 1px solid #000;
}
.cart {
  position: relative;
  margin-left: 20px;
}
.cartCount {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  border-radius: 100%;
  top: -5px;
  right: -10px;
  background-color: #5f0080;
  font-size: 11px;
  color: #fff;
}